In [ ]:
import pandas as pd
import re
from IPython.display import clear_output
import math
import numpy as np

In [13]:
my_dict1 = {'Li':0.49,'Be':0.915,'B':0.889,'C':-0.277,
           'N':-2.873,'O':-3.368,'F':-2.061,'Na':-0.187,'Mg':0.884,
           'Al':1.002,'Si':0.721,'P':-2.49,'S':-3.072,'Cl':-2.11,
           'K':-1.022,'Ca':0.991,'Sc':2.332,'Ti':4.915,'Zn':1.004,
           'Ga':1.003,'Ge':1.004,'As':-2.489,'Se':-2.915,'Br':-2.496,
           'Rb':-0.594,'Sr':0.945,'Y':2.108,'Zr':3.244,'Nb':5.841,
           'Mo':6.428,'Pd':2.936,'Ag':1.009,'Cd':1.046,'In':1.34,
           'Sn':1.238,'Sb':0.659,'Te':-1.812,'I':-2.579,'CS':-1,'Ba':0.879,
           'Hf':2.745,'Ta':5.388,'W':6.106,'Re':5.653,'Pt':2.021,'Au':1.353,
           'Hg':1.3,'Tl':0.496,'Pb':1.122,'Bi':2.167,'La':2.397,'Lu':2.108,
           'Th':3.441,'U':7.979}

In [ ]:
dict2 = {}
data = pd.read_excel('ptable+lambda+tc+magnetic.xlsx')
data = data.iloc[:,:88]
for i in data.iloc[0:1]:
    my_dict = {}
    k = 0
    for s in data[i]:
        my_dict[data['symbol'][k]] = s
        k = k + 1
    dict2[i] = my_dict
dict2.pop('symbol')
data

,symbol,topogivity,atomic_number,atomic_radius,atomic_volume,boiling_point,density,dipole_polarizability,electron_affinity,valance_main,...,imat_electron_binding_energy,imat_atomic_radius,imat_valence,imat_cohesive_energy,imat_ionization_energy,ase_magnetic_moment,pymg_atomic_radius,pymg_electronegativity,ionization_energy,tc
0,Nb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ac,0.000,89.0,188.0,22.54,3470.0,NaN,203.00,0.35000,2.0,...,80.0,NaN,3.0,4.25,5.1700,1.0,1.95,1.10,5.380226,NaN
2,Ag,1.009,47.0,144.0,10.30,2485.0,10.5000,55.00,1.30200,1.0,...,58.3,153.0,1.0,2.95,1.9300,1.0,1.60,1.93,7.576234,NaN
3,Al,1.002,13.0,143.0,10.00,2740.0,2.6989,57.80,0.43283,3.0,...,72.5,118.0,3.0,3.39,5.9857,1.0,1.25,1.61,5.985768,1.140
4,Am,0.000,95.0,173.0,20.80,2880.0,13.6700,131.00,NaN,2.0,...,16.0,140.0,9.0,2.73,5.9738,7.0,1.75,1.30,5.973800,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,Xe,0.000,54.0,NaN,42.90,166.1,3.5200,27.32,-0.05600,8.0,...,67.5,130.0,0.0,0.16,2.6000,0.0,NaN,2.60,12.129843,NaN
115,Y,2.108,39.0,178.0,19.80,3611.0,4.4700,162.00,0.30700,2.0,...,23.1,162.0,3.0,4.37,1.2200,1.0,1.80,1.22,6.217260,NaN
116,Yb,0.000,70.0,194.0,24.80,1466.0,6.9654,139.00,-0.02000,2.0,...,1.3,194.0,16.0,1.60,1.0600,0.0,1.75,1.10,6.254160,NaN
117,Zn,1.004,30.0,138.0,9.20,1180.0,7.1330,38.67,NaN,2.0,...,10.1,131.0,2.0,1.35,1.6500,0.0,1.35,1.65,9.394199,NaN
118,Zr,3.244,40.0,160.0,14.10,4650.0,6.5060,112.00,0.42600,2.0,...,27.1,148.0,4.0,6.25,1.3300,2.0,1.55,1.33,6.633900,0.546

In [15]:
def calculator2(my_dict,string):
    def separate(string):
        my_list12 = []
        pattern = r'([A-Z][a-z]*)(\d*\.?\d*)'
        element = re.findall(pattern, string)
        for i in element:
            i = list(i)
            for j in i:
                if j == '':
                    i.pop()
                    i.append('1')
            my_list12.append(tuple(i))
        return(my_list12)

    total = 0
    output = 0

    for i in separate(string):
        element = i[0]
        try:
            my_dict[element]
        except:
            my_dict[element] = 0
        try:
            number = float(i[1])
            total += number
        except:
            pass
        output1 = my_dict[element]*number

        output = output + output1     
    output = output/total
    return(output)

In [16]:
def separate(string):
    my_list12 = []
    pattern = r'([A-Z][a-z]*)(\d*\.?\d*)'
    element = re.findall(pattern, string)
    for i in element:
        i = list(i)
        for j in i:
            if j == '':
                i.pop()
                i.append('1')
        my_list12.append(tuple(i))
    return(my_list12)

separate('Ag(NO)3')

[('Ag', '1'), ('N', '1'), ('O', '1')]

In [ ]:
compounds = pd.read_csv('Cif_data_with_id_for_compounds.csv').drop(['Unnamed: 0'],axis=1)
compounds['reduced formula'] = ''
compounds

              compound      id   SG reduced formula
0           Ba1 F6 Zr1   36122   67
1              Ge1 Mn3   97743  221
2           Ca1 O3 Si1  240448  204
3       Ba1 Cd1 K2 Sb2  422272   26
4              Mo4 O11  644061   33
...                ...     ...  ...             ...
199907   Bi2 I1 O4 Tb1   92430  123
199908         Si1 Sr2     422   62
199909             Se1  626056   62
199910           Sb Yb  651758  225
199911         Cr2 Hf1  626139  227

[199912 rows x 4 columns]

In [18]:
k = 0
for i in compounds['compound']:
    try:
        if compounds['type'].iloc[k] == 'CuO':
            my_list12 = []
            pattern = r'([A-Z][a-z]*)(\d*\.?\d*)'
            element = re.findall(pattern, i)
            for ii in element:
                if ii[0] == 'Cu':
                    x = ii[1]
                if ii[0] == 'O':
                    y = ii[1]
                if ii[1] == '':
                    ii = (ii[0],'1')
                ii = list(ii)
                ii[1] = str(float(ii[1]) * 100)            
                for j in ii:
                    if j == '':
                        ii.pop()
                        ii.append('1')
                my_list12.append(tuple(ii))
            string = ''
            number_list = []
            for z in my_list12:
                number_list.append(int(float(z[1])))
            try:
                if (float(y)/float(x)) < 2:
                    j = compounds[((compounds.formula == i))].index
                    compounds = compounds.drop(j)
                else:
                    pass
            except:
                pass
        k += 1
    except:
        pass
compounds

              compound      id   SG reduced formula
0           Ba1 F6 Zr1   36122   67
1              Ge1 Mn3   97743  221
2           Ca1 O3 Si1  240448  204
3       Ba1 Cd1 K2 Sb2  422272   26
4              Mo4 O11  644061   33
...                ...     ...  ...             ...
199907   Bi2 I1 O4 Tb1   92430  123
199908         Si1 Sr2     422   62
199909             Se1  626056   62
199910           Sb Yb  651758  225
199911         Cr2 Hf1  626139  227

[199912 rows x 4 columns]

In [19]:
k = 0
for i in compounds['compound']:
        my_list12 = []
        pattern = r'([A-Z][a-z]*)(\d*\.?\d*)'
        element = re.findall(pattern, i)
        for i in element:
            if i[1] == '':
                i = (i[0],'1')
            i = list(i)
            i[1] = str(float(i[1]) * 10000)            
            for j in i:
                if j == '':
                    i.pop()
                    i.append('1')
            my_list12.append(tuple(i))
        string = ''
        number_list = []
        for l in my_list12:
            number_list.append(int(float(l[1])))
        a = np.gcd.reduce(number_list)    
        for l in my_list12:            
            string += (l[0] + str(float(l[1])/a)[-3::-1][::-1])
        compounds['reduced formula'].iloc[k] = string
        k += 1
clear_output()
compounds

              compound      id   SG reduced formula
0           Ba1 F6 Zr1   36122   67        Ba1F6Zr1
1              Ge1 Mn3   97743  221          Ge1Mn3
2           Ca1 O3 Si1  240448  204        Ca1O3Si1
3       Ba1 Cd1 K2 Sb2  422272   26     Ba1Cd1K2Sb2
4              Mo4 O11  644061   33          Mo4O11
...                ...     ...  ...             ...
199907   Bi2 I1 O4 Tb1   92430  123      Bi2I1O4Tb1
199908         Si1 Sr2     422   62          Si1Sr2
199909             Se1  626056   62             Se1
199910           Sb Yb  651758  225          Sb1Yb1
199911         Cr2 Hf1  626139  227          Cr2Hf1

[199912 rows x 4 columns]

In [20]:
for i in dict2:
    compounds[i] = compounds['compound'].apply(lambda string: calculator2(dict2[i], string))
clear_output()
compounds

,compound,id,SG,reduced formula,topogivity,atomic_number,atomic_radius,atomic_volume,boiling_point,density,...,imat_electron_binding_energy,imat_atomic_radius,imat_valence,imat_cohesive_energy,imat_ionization_energy,ase_magnetic_moment,pymg_atomic_radius,pymg_electronegativity,ionization_energy,tc
0,Ba1 F6 Zr1,36122,67,Ba1F6Zr1,-1.030375,18.750000,NaN,19.462500,883.757500,2.081750,...,527.762500,96.500000,6.000000,1.648750,7.192700,1.000000,0.837500,3.262500,14.547811,NaN
1,Ge1 Mn3,97743,221,Ge1Mn3,0.251000,26.750000,135.500000,8.942500,2452.000000,6.738250,...,42.700000,134.750000,6.250000,1.465000,7.550350,4.250000,1.362500,1.665000,7.550372,NaN
2,Ca1 O3 Si1,240448,204,Ca1O3Si1,-1.678400,11.600000,NaN,16.800000,931.114000,1.465400,...,49.920000,100.800000,4.800000,2.854400,9.773420,1.600000,0.940000,2.644000,11.023800,NaN
3,Ba1 Cd1 K2 Sb2,422272,26,Ba1Cd1K2Sb2,0.199833,40.666667,194.000000,29.916667,1476.333333,4.540667,...,21.050000,169.000000,2.666667,1.736667,6.683867,1.333333,1.833333,1.386667,6.683932,NaN
4,Mo4 O11,644061,33,Mo4O11,-0.755733,17.066667,NaN,12.773333,1368.806000,3.567933,...,39.973333,92.200000,6.000000,3.725333,11.877840,3.066667,0.826667,3.098667,11.877888,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199907,Bi2 I1 O4 Tb1,92430,123,Bi2I1O4Tb1,-1.464625,39.500000,NaN,17.937500,985.032500,4.656125,...,33.162500,111.625000,6.500000,2.490000,10.074275,2.500000,1.093750,2.695000,10.669788,NaN
199908,Si1 Sr2,422,62,Si1Sr2,0.870333,30.000000,187.333333,26.500000,1980.666667,2.470000,...,46.533333,165.000000,2.666667,2.690000,1.266667,0.666667,1.700000,1.266667,6.513806,NaN
199909,Se1,626056,62,Se1,-2.915000,34.000000,140.000000,16.500000,958.100000,4.790000,...,54.600000,116.000000,6.000000,2.460000,2.550000,2.000000,1.150000,2.550000,9.752392,NaN
199910,Sb Yb,651758,225,Sb1Yb1,0.329500,60.500000,176.500000,21.600000,1687.000000,6.828200,...,16.700000,166.000000,10.500000,2.175000,4.834150,1.500000,1.600000,1.575000,7.431275,NaN
199911,Cr2 Hf1,626139,227,Cr2Hf1,0.915000,40.000000,142.333333,9.353333,3786.666667,9.223333,...,32.866667,134.666667,5.333333,4.880000,6.786000,4.666667,1.450000,1.540000,6.786030,NaN

In [21]:
compounds.to_csv('Superconductivity final data.csv')